@import 'tailwindcss';

@theme {
  --color-background: #ebedf3;
  --color-primary: #3f53dd;
  --color-text-primary: #0a1628;
  --color-text-secondary: #556877;
  --color-light-border: #e3e8ee;

  --color-card-background: #ffffff;
  --radius-card: 10px;
  --spacing-card-width: 460px;

  --radius-select: 4px;

  /* overriding to be accurate to design */
  --text-3xl: 32px;
}

body {
  background: var(--color-background);
  color: var(--color-text-primary);
}
